<div class="row">
    <div class="col-md-5">

        <div class="panel panel-success current-user-profile">
            <div class="panel-heading">Current user: </div>
            <div class="panel-body">

                <table class="table table-stripe">
                    <tr>
                        <td class="row-label">Name:</td>
                        <td>{{vm.loggedUser.callupName}}</td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee Id:</td>
                        <td>{{vm.loggedUser.ibmSerialNumber}}</td>
                    </tr>
                    <tr>
                        <td class="row-label">JRSS:</td>
                        <td>{{vm.loggedUser.jobresponsibilities}}</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="col-md-7">
        <form>
            <label for="search">Search Bluepage Profile: </label>
            <input type="text" class="form-control" id="searchText" placeholder="Search..." data-ng-model="vm.searchText" data-ng-keyup="vm.search(vm.searchText);">
            <ul class="list-group" data-ng-if="vm.showSearch">
                <li class="list-group-item" data-ng-repeat="r in vm.searchResults"><a data-ng-click="vm.selectItem(r)">{{r.attribute[0].value[0]}}</a></li>
            </ul>
        </form>
    </div>

    <div class="col-md-7" data-ng-if="vm.showSelected">
        <div class="panel panel-warning selected-user-profile">
            <div class="panel-heading">Selected User: </div>
            <div class="panel-body">

                <table class="table table-stripe">
                    <tr>
                        <td class="row-label">Name:</td>
                        <td>{{vm.selectedItem.attribute[0].value[0]}}</td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee Id:</td>
                        <td>{{vm.selectedItem.attribute[1].value[0]}}</td>
                    </tr>
                    <tr>
                        <td class="row-label">JRSS:</td>
                        <td>{{vm.selectedItem.attribute[2].value[0]}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</div>